<!-- MAINPAGE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

    <!-- link to css -->
    <link rel="stylesheet" type="text/css" href="/mainpage.css">
</head>

<body>
    <!-- link to author homepage -->
    <a href="../author/homepage"><h1 id="blog-name">AUTHOR'S<br>HOMEPAGE</h1></a>
    <!-- link to reader homepage -->
    <a href="../reader/homepage"><h1 id="blog-name">READER'S<br>HOMEPAGE</h1></a>
</body>

</html>
